spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/saas_db
    username: saas_user
    password: saas_pass

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true[==
      path: /h2-console


